# hidden folders (usually version control and editor files, like .git/, .idea/, etc.)
/.*/

# locally installed node dependencies
**/node_modules/

# secrets, configuration and database
config.json
/storage

# keep these files for tracking otherwise empty directories
!.gitkeep
