# hidden folders (usually version control and editor files, like .git/, .idea/, etc.)
/.*/

# locally installed node dependencies
**/node_modules/

# secret  configuration
config.json

# persistent storage folders (ignore only files, not folders)
/storage/db/*
/storage/music/*
/storage/pics/*/*
/storage/specs/*
/storage/*.*

# keep these files for tracking otherwise empty directories
!.gitkeep
